@import "tailwindcss";

/******************************** font */
/*** pretendard ***/
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(/fonts/Pretendard-Black.woff2) format('woff2'), url(/fonts/Pretendard-Black.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(/fonts/Pretendard-ExtraBold.woff2) format('woff2'), url(/fonts/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(/fonts/Pretendard-Bold.woff2) format('woff2'), url(/fonts/Pretendard-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(/fonts/Pretendard-SemiBold.woff2) format('woff2'), url(/fonts/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(/fonts/Pretendard-Medium.woff2) format('woff2'), url(/fonts/Pretendard-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(/fonts/Pretendard-Regular.woff2) format('woff2'), url(/fonts/Pretendard-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(/fonts/Pretendard-Light.woff2) format('woff2'), url(/fonts/Pretendard-Light.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(/fonts/Pretendard-ExtraLight.woff2) format('woff2'), url(/fonts/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(/fonts/Pretendard-Thin.woff2) format('woff2'), url(/fonts/Pretendard-Thin.woff) format('woff');
}

/*** DMSerifDisplay ***/
@font-face {
	font-family: 'DMSerifDisplay';
	font-weight: 400;
	font-display: swap;
	src: local('DMSerifDisplay Regular'), url(/fonts/DMSerifDisplay-Regular.woff) format('woff');
}

/******************************** reset */
/*** font ***/
* {
    font-family: 'Pretendard';
}

/*** layout ***/
body {
	background: #0E0D0A;
}

.inner {
    max-width: 1600px;
    margin: 0 auto;
}

.inner-2 {
    max-width: 1760px;
    margin: 0 auto;
}

main {
	padding-top: 100px;
}

section {
	padding: 100px 0;
}

@media screen and (max-width: 1800px) {
	.inner-2 {padding: 0 3%;}
}

@media screen and (max-width: 1640px) {
    .inner {
        padding: 0 3%;
    }
}

@media screen and (max-width: 968px) {
	main {
		padding-top: 70px;
	}

	section {
		padding: 10.5% 0;
	}	
}

/*** 제목글 ***/
.title__chip {
	font-size: 16px;
	color: #C9A84C;
	line-height: 1.4;
	display: flex;
	align-items: center;
	gap: 1em;
	margin-bottom: .5em;
}

.title__line {
	display: block;
	background: #C9A84C;
	width: 2em;
	height: 1px;
}

.title {
	font-size: 100px;
	color: #fff;
	line-height: 1.2;
	font-weight: 600;
}

.title span {
	color: #C9A84C;
}

.title__chip.md {
	font-size: 14px;
}

.title.md {
	font-size: 42px;
	margin-bottom: 1em;
}

@media screen and (max-width: 1280px) {
	.title__chip {
		font-size: 14px;
	}

    .title {
		font-size: 70px;
	}
}

@media screen and (max-width: 768px) {
    .title {
		font-size: 50px;
	}
}

@media screen and (max-width: 640px) {
	.title__chip {
		font-size: 12px;
	}

    .title {
		font-size: 40px;
	}

	.title__chip.md {
		font-size: 12px;
	}

	.title.md {
		font-size: 30px;
	}
}

/*** 버튼 스타일 ***/
.button-0 {
	display: flex;
    align-items: center;
    justify-content: center;
    min-width: 8.25em;
    min-height: 3em;
    font-size: 16px;
    text-decoration: none;
	padding: .5em;
}

@media screen and (max-width: 768px) {
	.button-0 {
		font-size: 14px;
	}
}

@media screen and (max-width: 380px) {
	.button-0 {
		font-size: 12px;
	}
}