/**************************** intro */
.intro {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    height: auto;
}

.intro__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-direction: column;
}

.intro__text-col {
    width: 100%;
}

.intro__desc {
    color: #ffffff;
    opacity: 0.7;
    margin-top: 0.5em;
    word-break: keep-all;
    font-size: 0.875rem;
}

.intro__btn-group {
    display: flex;
    gap: 0.5rem;
    margin-top: 15px;
}

.intro__grid {
    display: grid;
    gap: 0.5rem;
    width: 100%;
    grid-template-columns: 1fr;
}

.intro__card {
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
    color: #ffffff;
    font-size: 1rem;
}

.intro__card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 0.5em;
}

.intro__card-title {
    font-size: 1em;
}

.intro__card-score {
    width: 3em;
    height: 1.7em;
    background-color: rgba(201, 168, 76, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gold-0);
    font-size: 0.75rem;
}

.intro__card-mode {
    font-size: 0.75rem;
    margin-bottom: 1em;
}

.intro__card-desc {
    font-size: 0.8em;
    word-break: keep-all;
}

.intro__scroll-hint {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 1em;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-size: 0.75rem;
    width: 100%;
}

.intro__scroll-line {
    display: block;
    width: 2em;
    height: 1px;
    background: linear-gradient(to right, transparent 0%, #ffffff 100%);
}

@media (min-width: 640px) {
    .intro {
        padding-bottom: 100px;
    }

    .intro__btn-group {
        margin-top: 20px;
    }

    .intro__btn {
        font-size: 0.875rem;
    }

    .intro__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .intro__card-score {
        font-size: 0.875rem;
    }

    .intro__scroll-hint {
        bottom: 30px;
        font-size: 0.875rem;
    }
}

@media (min-width: 1024px) {
    .intro {
        height: 90vh;
    }

    .intro__inner {
        flex-direction: row;
    }

    .intro__text-col {
        width: 50%;
    }

    .intro__grid {
        width: 50%;
        font-size: 1.125rem;
    }

    .intro__btn {
        font-size: 1rem;
    }

    .intro__card-score {
        font-size: 1rem;
    }

    .intro__desc {
        font-size: 1rem;
    }
}

@media (min-width: 1280px) {
    .intro__text-col {
        width: 60%;
    }

    .intro__grid {
        width: 40%;
        font-size: 1.25rem;
    }

    .intro__btn {
        font-size: 1rem;
    }

    .intro__card-score {
        font-size: 1rem;
    }

    .intro__desc {
        font-size: 1.125rem;
    }
}

/********************** Loop_carousel */
.loop-carousel {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #111111;
    border-top: 1px solid rgba(255, 255, 255, .07);
    border-bottom: 1px solid rgba(255, 255, 255, .07);
}

.loop-carousel__item {
    font-size: 0.875rem;
    color: var(--gray-0);
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.loop-carousel__dot {
    display: block;
    width: 4px;
    height: 4px;
    background: var(--gold-0);
    border-radius: 50%;
    flex-shrink: 0;
}

@media screen and (max-width: 640px) {
    .loop-carousel {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .loop-carousel__item {
        font-size: 0.75rem;
    }
}

/********************** Ai_pick */
.pick-swiper__slide {
    width: 100%;
    aspect-ratio: 438 / 657;
    background: no-repeat center / cover;
}

.pick-swiper__link {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 1.25rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000 0%, transparent 100%);
}

.navi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.navi .swiper-navigation-icon {
    display: none;
}

.navi .swiper-button-prev,
.navi .swiper-button-next {
    width: 40px;
    height: 40px;
    background: #111;
    border: 1px solid rgba(255, 255, 255, .07);
    cursor: pointer;
    color: #fff;
    font-size: 10px;
}

.navi .swiper-pagination {
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 8px;
}

.navi .swiper-pagination-bullet {
    width: 20px;
    height: 2px;
    border-radius: 50px;
    background: #fff;
    opacity: .07;
    transition: all .3s ease;
}

.navi .swiper-pagination-bullet-active {
    width: 32px;
    background: var(--gold-0);
    opacity: 1;
}

.pick-swiper__genre {
    display: flex;
    align-items: flex-start;
    gap: .7em;
    font-size: 16px;
    color: #e2ddd7;
    margin-bottom: .5em;
    word-break: keep-all;
}

.pick-swiper__genre span {
    color: var(--gold-0);
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.2;
}

.pick-swiper__name {
    font-size: 30px;
    color: #fff;
    margin-bottom: .5em;
    word-break: keep-all;
}

.pick-swiper__badge {
    font-size: 16px;
    color: var(--gold-0);
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: .5em .8em;
    background: rgba(201, 168, 76, .12);
    width: fit-content;
    border: 1px solid rgba(201, 168, 76, .3);
}

@media screen and (max-width: 1080px) {
    .pick-swiper__genre {
        font-size: 14px;
    }

    .pick-swiper__name {
        font-size: 24px;
    }

    .pick-swiper__badge {
        font-size: 14px;
    }
}

@media screen and (max-width: 968px) {
    .navi {
        margin-top: 5.5%;
    }
}

@media screen and (max-width: 640px) {
    .pick-swiper__link {
        padding: 15px;
    }

    .pick-swiper__genre {
        flex-direction: column;
        gap: 2px;
        font-size: 12px;
    }

    .pick-swiper__name {
        font-size: 20px;
    }

    .pick-swiper__badge {
        font-size: 12px;
    }

    .navi {
        gap: 15px;
    }

    .navi .swiper-button-prev,
    .navi .swiper-button-next {
        width: 30px;
        height: 30px;
        font-size: 8px;
    }

    .navi .swiper-pagination {
        gap: 6px;
    }

    .navi .swiper-pagination-bullet {
        width: 15px;
    }

    .navi .swiper-pagination-bullet-active {
        width: 25px;
    }
}

@media screen and (max-width: 480px) {
    .pick-swiper__genre {
        font-size: 11px;
    }

    .pick-swiper__name {
        font-size: 16px;
    }

    .pick-swiper__badge {
        font-size: 11px;
    }
}

/********************** instructions */
.instructions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.instructions__item {
    font-size: 24px;
    padding: 1em;
    border-right: 1px solid rgba(255, 255, 255, .07);
}

.instructions__item:last-child {
    border-right: none;
}

.instructions__number {
    font-family: 'DMSerifDisplay';
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    font-size: 72px;
    color: rgba(201, 168, 76, .07);
    line-height: .5;
    margin-bottom: .5em;
}

.instructions__icon {
    color: #000;
    font-size: .4em;
}

.instructions__title {
    color: #fff;
    font-weight: 600;
    margin-bottom: .67em;
}

.instructions__text {
    font-size: .67em;
    color: #fff;
    line-height: 1.4;
    word-break: keep-all;
    font-weight: 200;
    opacity: .7;
}

@media screen and (max-width: 1280px) {
    .instructions {
        grid-template-columns: repeat(2, 1fr);
    }

    .instructions__item {
        border-right: none;
    }
}

@media screen and (max-width: 1024px) {
    .instructions__item {
        font-size: 20px;
    }

    .instructions__number {
        font-size: 60px;
    }
}

@media screen and (max-width: 640px) {
    .instructions {
        grid-template-columns: repeat(1, 1fr);
    }

    .instructions__number {
        font-size: 50px;
    }
}

/**************************** How_mood */
.mood-tab-btns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    max-width: 700px;
    margin-bottom: 40px;
}

.mood-tab-btn {
    color: rgba(255, 255, 255, .7);
    background: rgba(255, 255, 255, .07);
    cursor: pointer;
    transition: all .3s ease;
}

.mood-tab-btn:hover,
.mood-tab-btn.is-active {
    color: #333333;
    background: var(--gold-0);
}

.mood-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
}

.mood-list__link {
    display: flex;
    align-items: flex-end;
    width: 100%;
    aspect-ratio: 350/500;
    background: no-repeat center / cover;
    position: relative;
    padding: 20px;
}

.mood-list__link::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000 0%, transparent 100%);
}

.mood-list__detail {
    position: relative;
    z-index: 10;
}

.mood-list__title {
    color: #fff;
    font-size: 20px;
    margin-bottom: .5em;
    word-break: keep-all;
}

.mood-list__ex {
    color: #fff;
    font-size: 14px;
    opacity: .7;
    word-break: keep-all;
}

/* Instructions 컴포넌트 구조 사용 */
.instructions.instructions-1 {
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1280px) {
    .mood-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1080px) {
    .mood-list__title {
        font-size: 18px;
    }

    .mood-list__ex {
        font-size: 12px;
    }
}

@media screen and (max-width: 968px) {
    .mood-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .mood-tab-btns {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 640px) {
    .mood-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .mood-list__link {
        padding: 15px;
    }

    .mood-list__title {
        font-size: 16px;
    }
}