.search-form {
    width: 100%;
    max-width: 600px;
    height: 60px;
    position: relative;
    margin: 0 auto 80px;
}

.search-form__input {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--gray-0);
    border-radius: 100px;
    color: #fff;
    padding: 0 90px 0 1em;
    font-size: 16px;
    outline: none;
}

.search-form__input:focus {
    border-color: var(--gold-0);
}

.search-form__button {
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    color: #fff;
    width: 80px;
    height: 58px;
    border-radius: 0 100px 100px 0;
    background: var(--gray-0);
    cursor: pointer;
}

.search-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.search-list__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    aspect-ratio: 438 / 657;
    padding: 1.25rem;
    background: no-repeat center / cover;
    position: relative;
}

.search-list__item::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000 0%, transparent 100%);
}

.search-list__genre {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: .7em;
    font-size: 16px;
    color: #e2ddd7;
    margin-bottom: .5em;
    word-break: keep-all;
    z-index: 1;
}

.search-list__genre span {
    color: var(--gold-0);
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.2;
}

.search-list__name {
    position: relative;
    font-size: 30px;
    color: #fff;
    word-break: keep-all;
    z-index: 1;
}

@media screen and (max-width: 1080px) {
    .search-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .search-list__genre {
        font-size: 14px;
    }

    .search-list__name {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .search-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 640px) {
    .search-list {
        gap: 6px;
    }

    .search-list__item {
        padding: 15px;
    }

    .search-list__genre {
        flex-direction: column;
        gap: 2px;
        font-size: 12px;
    }

    .search-list__name {
        font-size: 20px;
    }

    .paging {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .search-list__item {
        padding: 10px;
    }

    .search-list__genre {
        font-size: 11px;
    }

    .search-list__name {
        font-size: 16px;
    }
}