.search-form {
    width: 100%;
    max-width: 600px;
    height: 50px;
    display: flex;
    gap: 10px;
    margin: 0 auto 80px;
}

.search-form__select {
    display: block;
    width: 120px;
    height: 100%;
    padding: 0 15px;
    color: #fff;
    border: 1px solid var(--gray-0);
    outline-color: var(--gold-0);
}

.search-form__select option {
    background: #0E0D0A;
}

.search-form__input-wrap {
    position: relative;
    height: 100%;
    width: calc(100% - 130px);
}

.search-form__input {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--gray-0);
    color: #fff;
    padding: 0 90px 0 1em;
    font-size: 16px;
    outline: none;
}

.search-form__input:focus {
    border-color: var(--gold-0);
}

.search-form__button {
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    color: #fff;
    width: 80px;
    height: 48px;
    background: var(--gray-0);
    cursor: pointer;
}

.search-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.search-list__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    aspect-ratio: 438 / 657;
    padding: 1.25rem;
    background: no-repeat center / cover;
    position: relative;
}

.search-list__item::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000 0%, transparent 100%);
}

.search-list__genre {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: .7em;
    font-size: 16px;
    color: #e2ddd7;
    margin-bottom: .5em;
    word-break: keep-all;
    z-index: 1;
}

.search-list__genre span {
    color: var(--gold-0);
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.2;
}

.search-list__name {
    position: relative;
    font-size: 30px;
    color: #fff;
    word-break: keep-all;
    z-index: 1;
}

.search-count {
    font-size: 18px;
    color: #fff;
    margin-bottom: 40px;
}

.search-count strong {
    color: var(--gold-0);
}

@media screen and (max-width: 1080px) {
    .search-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .search-list__genre {
        font-size: 14px;
    }

    .search-list__name {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .search-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .search-form {
        height: 43px;
        margin-bottom: 8.5%;
    }

    .search-form__select {
        width: 100px;
        font-size: 14px;
    }

    .search-form__input-wrap {
        width: calc(100% - 110px);
    }

    .search-form__input {
        padding: 0 70px 0 1em;
        font-size: 16px;
    }

    .search-form__button {
        width: 60px;
        height: 42px;
        font-size: 14px;
    }

    .search-count {
        font-size: 16px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 640px) {
    .search-list {
        gap: 6px;
    }

    .search-list__item {
        padding: 15px;
    }

    .search-list__genre {
        flex-direction: column;
        gap: 2px;
        font-size: 12px;
    }

    .search-list__name {
        font-size: 20px;
    }

    .paging {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .search-form__select {
        font-size: 12px;
        padding: 0 10px;
        width: 80px;
    }

    .search-form__input-wrap {
        width: calc(100% - 90px);
    }

    .search-form__input {
        padding-left: 10px;
    }

    .search-form__input::placeholder {
        font-size: 12px;
    }

    .search-list__item {
        padding: 10px;
    }

    .search-list__genre {
        font-size: 11px;
    }

    .search-list__name {
        font-size: 16px;
    }

    .search-count {
        font-size: 14px;
        margin-bottom: 20px;
    }
}